<ion-header >
  <ion-toolbar>
    <ion-title>
      Statistiques Défenses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Général</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-button>Général</ion-button>
    <ion-button>Domicile</ion-button>
    <ion-button>Exterieur</ion-button>
  </ion-item>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
