<ion-header >
  <ion-toolbar>
    <ion-title>
      Statistiques générales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Général</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-button (click)='getGeneral()'>Général</ion-button>
    <ion-button (click)='getDomicile()'>Domicile</ion-button>
    <ion-button (click)='getExterieur()'>Exterieur</ion-button>
  </ion-item>
  <table datatable border="1">
      <tr>
        <th>Equipe</th>
        <th>Competition</th>
        <th>Buts</th>
        <th>Tirs pm</th>
        <th>Discipline</th>
        <th>Possession%</th>
        <th>Passes réussies%</th>
        <th>Note</th>
      </tr>
      <tr *ngFor=" let item of statData">
        <td>{{item.nomequipe}}</td>
        <td>{{item.nomcompetition}}</td>
        <td>{{item.nombre_but_total}}</td>
        <td>{{item.moyenne_tirs_par_match | number:'1.1-1'}}</td>
        <td>
          <span style="color:red">{{item.total_cartons_rouges}}</span>
            -
          <span style="color:rgb(255, 230, 0)">{{item.total_cartons_jaunes}}</span>
        </td>
        <td>{{ item.pourcentage_possession | number:'1.1-1' }} %</td>
        <td>{{item.pourcentage_passes_reussies | number:'1.1-1' }}</td>
        <td>---</td>
      </tr>
  </table>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
